* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F7941D;
    background-image: url("../img/background-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-container {
    margin-top: 24vh;
    height: 43.3vh;
    width: 80vw;
}

.menu-container {
    margin-top: 1.3vh;
    height: 6.8vh;
    width: 44.8vw;
}

.fit-container {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.icons-footer-container {
    position: absolute;
    bottom: 3.15vh;
    height: 2.85vh;
    width: 56.15vw;
}

.icons-sidebar-container {
    position: absolute;
    bottom: 4.3vh;
    right: 4.4vw;
    height: 45vh;
    width: 3.7vw;
}